.container{
    width: 640px;
    margin: auto;
    margin-top: 150px;
    background: rgb(0, 0, 0);
    color: rgb(226, 225, 225);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    }
    .container hr{
        height: 2px;
        border: none;
        background: #504e4e;
    }
    .container h2{
        font-size: 27px;
        font-weight: 500;
    }
    .container ul li{
        display: flex;
        align-items: center;
        height: 70px;
        padding-left: 15px;
        border: 1px solid #686868;
        border-radius: 8px;
        margin-bottom: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .container button{
        margin: auto;
        width: 250px;
        height: 65px;
        background: rgb(105, 27, 112);
        color: rgb(226, 191, 214);
        font-size: 25px;
        font-weight: 500;
        border-radius: 8px;
        cursor: pointer;
    }
    .container .index{
        margin: auto;
        font-size: 18px;
        color: rgb(85, 4, 74);


    }
    .container .correct{
        background: #dad8d8;
        border-color: aquamarine;
    }
    .container .wrong{
        background: #cfcdcd;
        border-color: rgb(223, 40, 16);
    }